@inherits ProjectFirma.Web.Views.Admin.ExportSqlData
<p>Use this to generate a sql file backup of the tables and data.</p>
@using (Html.BeginForm())
{
    <input type="submit" id="btnSubmit" value="Download Sql Data File" />
}