
CREATE TABLE [dbo].[ReclamationStagingContractTrackingTable](
	ReclamationStagingContractTrackingTableID int identity(1,1) not null constraint PK_ReclamationStagingContractTrackingTable_ReclamationStagingContractTrackingTableID primary key,
	[OriginalContractTrackingID] [int] NULL,
	[OriginalAgreementStatusID] [int] NULL,
	[StatusDate] [datetime] NULL,
	[ReclamationStagingContractStatusID] [int] NULL,
	[RequisitionNumber] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ReclamationStagingContractTrackingTable] ([OriginalContractTrackingID], [OriginalAgreementStatusID], [StatusDate], [ReclamationStagingContractStatusID], [RequisitionNumber]) VALUES (2, 644, CAST(N'2011-08-04T00:00:00.000' AS DateTime), 3, NULL)
GO
INSERT [dbo].[ReclamationStagingContractTrackingTable] ([OriginalContractTrackingID], [OriginalAgreementStatusID], [StatusDate], [ReclamationStagingContractStatusID], [RequisitionNumber]) VALUES (3, 643, CAST(N'2011-08-04T00:00:00.000' AS DateTime), 3, NULL)
GO
INSERT [dbo].[ReclamationStagingContractTrackingTable] ([OriginalContractTrackingID], [OriginalAgreementStatusID], [StatusDate], [ReclamationStagingContractStatusID], [RequisitionNumber]) VALUES (4, 645, CAST(N'2011-08-04T00:00:00.000' AS DateTime), 3, NULL)
GO
