
CREATE TABLE [dbo].[ReclamationPersonsTable](
	ReclamationPersonsTableID int identity(1,1) not null constraint PK_ReclamationPersonsTable_ReclamationPersonsTableID primary key,
	[ReclamationStaffID] [int] NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[DeptartmentCode] [nvarchar](255) NULL,
	[RTSContact] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ReclamationPersonsTable] ([ReclamationStaffID], [FirstName], [LastName], [Location], [Phone], [DeptartmentCode], [RTSContact]) VALUES (1, N'Jennifer', N'Molesworth', N'Methow', N'5099970640', N'PM-1777', N'BOR\JMolesworth')
GO
INSERT [dbo].[ReclamationPersonsTable] ([ReclamationStaffID], [FirstName], [LastName], [Location], [Phone], [DeptartmentCode], [RTSContact]) VALUES (2, N'Mark', N'Croghan', N'John Day', N'5415753033', N'PN-1775', N'BOR\MCroghan')
GO
INSERT [dbo].[ReclamationPersonsTable] ([ReclamationStaffID], [FirstName], [LastName], [Location], [Phone], [DeptartmentCode], [RTSContact]) VALUES (3, N'Darrell', N'Dyke', N'Grande Rhonde', N'5419630724', N'PN-1772', N'BOR\DDyke')
GO
