
CREATE TABLE [dbo].[ReclamationStagingFutureFundingTable](
	ReclamationStagingFutureFundingTableID int identity(1,1) not null constraint PK_ReclamationStagingFutureFundingTable_ReclamationStagingFutureFundingTableID primary key,
	[OriginalContractTrackingID] [int] NULL,
	[OriginalReclamationCostAuthorityAgreementID] [int] NULL,
	[PlannedFundingYear] [int] NULL,
	[ExpectedAmt] [money] NULL,
	[AwardAmt] [money] NULL,
	[AwardYear] [float] NULL,
	[IsFunded] [bit] NOT NULL,
	[ContingencyYear] [int] NULL,
	[Notes] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ReclamationStagingFutureFundingTable] ([OriginalContractTrackingID], [OriginalReclamationCostAuthorityAgreementID], [PlannedFundingYear], [ExpectedAmt], [AwardAmt], [AwardYear], [IsFunded], [ContingencyYear], [Notes]) VALUES (1, 651, 2014, 49028.0000, 49027.0000, 2014, 1, 0, NULL)
GO
INSERT [dbo].[ReclamationStagingFutureFundingTable] ([OriginalContractTrackingID], [OriginalReclamationCostAuthorityAgreementID], [PlannedFundingYear], [ExpectedAmt], [AwardAmt], [AwardYear], [IsFunded], [ContingencyYear], [Notes]) VALUES (2, 651, 2015, 39370.0000, 39370.0000, 2015, 1, 0, NULL)
GO
INSERT [dbo].[ReclamationStagingFutureFundingTable] ([OriginalContractTrackingID], [OriginalReclamationCostAuthorityAgreementID], [PlannedFundingYear], [ExpectedAmt], [AwardAmt], [AwardYear], [IsFunded], [ContingencyYear], [Notes]) VALUES (3, 651, 2016, 55717.0000, 61900.0000, 2016, 1, 0, NULL)
GO
