USE [ProjectFirma]
GO
/****** Object:  Table [dbo].[ReclamationFund]    Script Date: 7/1/2019 5:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReclamationFund](
	[ReclamationFundID] int identity(1,1) not NULL constraint PK_ReclamationFund_ReclamationFundID primary key,
	[ReclamationFundNumber] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL
) ON [PRIMARY]
GO

set identity_insert dbo.ReclamationFund on

INSERT [dbo].[ReclamationFund] ([ReclamationFundID], [ReclamationFundNumber], [Description]) VALUES (1, N'XXXR0680G3', N'CSRO 2013 or earlier')
GO
INSERT [dbo].[ReclamationFund] ([ReclamationFundID], [ReclamationFundNumber], [Description]) VALUES (2, N'14XR0680G3', N'CSRO 2014')
GO
INSERT [dbo].[ReclamationFund] ([ReclamationFundID], [ReclamationFundNumber], [Description]) VALUES (3, N'15XR0680G3', N'CSRO 2015')
GO

set identity_insert dbo.ReclamationFund off