
alter table dbo.CostAuthorityWorkBreakdownStructurePacificNorthActivityList
add PacificNorthActivityListID int null constraint FK_CostAuthorityWorkBreakdownStructurePacificNorthActivityList_PacificNorthActivityList_PacificNorthActivityList foreign key references dbo.PacificNorthActivityList(PacificNorthActivityListID);
go

update CostAuthorityWorkBreakdownStructurePacificNorthActivityList
set PacificNorthActivityListID = pnal.PacificNorthActivityListID
from CostAuthorityWorkBreakdownStructurePacificNorthActivityList
inner join dbo.PacificNorthActivityList as pnal on pnal.ActivityID = CostAuthorityWorkBreakdownStructurePacificNorthActivityList.ActivityID
GO


/*

--These records need to be cleaned up before dropping ActivityID
select * from dbo.CostAuthorityWorkBreakdownStructurePacificNorthActivityList as cawbs
where PacificNorthActivityListID is null

*/