
CREATE TABLE [dbo].[Agreement](
	AgreementID int identity(1,1) not null constraint PK_Agreement_AgreementID primary key,
	[ReclamationAgreementID] int NULL,
	[AgreementNumber] [nvarchar](255) NULL,
	[ContractorLU] [float] NULL,
	[ContractType] [nvarchar](255) NULL,
	IsContingent [bit] NOT NULL,
	IsIncrementalFunding [bit] NOT NULL,
	[OldAgreementNumber] [nvarchar](255) NULL,
	[COR] [nvarchar](255) NULL,
	[TechnicalRepresentative] [float] NULL,
	[BOC] [nvarchar](255) NULL,
	ContractNumber [nvarchar](255) NULL,
	[ExpirationDate] [nvarchar](255) NULL,
	[FinancialReporting] [nvarchar](255) NULL,
	[OrganizationID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Agreement] ([ReclamationAgreementID], [AgreementNumber], [ContractorLU], [ContractType], IsContingent, IsIncrementalFunding, [OldAgreementNumber], [COR], [TechnicalRepresentative], [BOC], ContractNumber, [ExpirationDate], [FinancialReporting], [OrganizationID]) VALUES (9, N'20110104T114415', 194, N'RTS', 0, 0, NULL, NULL, 34, N'111A', N'20110104T114415', NULL, NULL, 6335)
GO
INSERT [dbo].[Agreement] ([ReclamationAgreementID], [AgreementNumber], [ContractorLU], [ContractType], IsContingent, IsIncrementalFunding, [OldAgreementNumber], [COR], [TechnicalRepresentative], [BOC], ContractNumber, [ExpirationDate], [FinancialReporting], [OrganizationID]) VALUES (10, N'20110105T151648', 194, N'RTS', 0, 0, NULL, NULL, 35, N'111A', N'20110105T151648', NULL, NULL, 6335)
GO
INSERT [dbo].[Agreement] ([ReclamationAgreementID], [AgreementNumber], [ContractorLU], [ContractType], IsContingent, IsIncrementalFunding, [OldAgreementNumber], [COR], [TechnicalRepresentative], [BOC], ContractNumber, [ExpirationDate], [FinancialReporting], [OrganizationID]) VALUES (11, N'20110105T165819', 194, N'RTS', 0, 0, NULL, NULL, 36, N'111A', N'20110105T165819', NULL, NULL, 6335)
GO

-- 
--update dbo.Agreement 
--set OrganizationID = 6089
--where OrganizationID = 6329


-- OOps, this can't work yet, so we'll just clear these bogus OrgiDs and try again later

/*
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD  CONSTRAINT [FK_Agreement_Organization_OrganizationID] FOREIGN KEY([OrganizationID])
REFERENCES [dbo].[Organization] ([OrganizationID])
GO
ALTER TABLE [dbo].[Agreement] CHECK CONSTRAINT [FK_Agreement_Organization_OrganizationID]
GO
*/

update dbo.Agreement
set OrganizationID = null



