
CREATE TABLE [dbo].[CostAuthority](
	CostAuthorityID int identity(1,1) not null constraint PK_CostAuthority_CostAuthorityID primary key,
	[CostAuthorityWorkBreakdownStructure] [nvarchar](255) NULL,
	[CostAuthority] [nvarchar](255) NULL,
	[AccountStructureDescription] [nvarchar](255) NULL,
	[BasinNumber] [nvarchar](255) NULL,
	[Subbasin] [nvarchar](255) NULL,
	[HCategory] [nvarchar](255) NULL,
	[CostCenter] [nvarchar](255) NULL,
	[AgencyProjectType] [nvarchar](255) NULL,
	[ProjectNumber] [nvarchar](255) NULL,
	[JobNumber] [nvarchar](255) NULL,
	[Authority] [nvarchar](255) NULL,
	[WBSStatus] [nvarchar](255) NULL,
	[HCategoryLU] [float] NULL,
	[WBSNoDot] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CostAuthority] ([CostAuthorityWorkBreakdownStructure], [CostAuthority], [AccountStructureDescription], [BasinNumber], [Subbasin], [HCategory], [CostCenter], [AgencyProjectType], [ProjectNumber], [JobNumber], [Authority], [WBSStatus], [HCategoryLU], [WBSNoDot]) VALUES (N'123167868315000100', N'123167868315000100', N'ARRA98 PRESTON GEN PROJT COORD', NULL, NULL, NULL, NULL, N'123', N'1678', N'5000100', N'6831', NULL, 2, N'12167868315000100')
GO
INSERT [dbo].[CostAuthority] ([CostAuthorityWorkBreakdownStructure], [CostAuthority], [AccountStructureDescription], [BasinNumber], [Subbasin], [HCategory], [CostCenter], [AgencyProjectType], [ProjectNumber], [JobNumber], [Authority], [WBSStatus], [HCategoryLU], [WBSNoDot]) VALUES (N'123167868315000300', N'123167868315000300', N'ARRA98 PRESTON FINL DESGN PRMT', NULL, NULL, NULL, NULL, N'123', N'1678', N'5000300', N'6831', N'Closed', NULL, N'12167868315000300')
GO
INSERT [dbo].[CostAuthority] ([CostAuthorityWorkBreakdownStructure], [CostAuthority], [AccountStructureDescription], [BasinNumber], [Subbasin], [HCategory], [CostCenter], [AgencyProjectType], [ProjectNumber], [JobNumber], [Authority], [WBSStatus], [HCategoryLU], [WBSNoDot]) VALUES (N'123167868315000400', N'123167868315000400', N'ARRA98 PRESTON CCD PROJCT CORD', NULL, NULL, NULL, NULL, N'123', N'1678', N'5000400', N'6831', N'Closed', NULL, N'12167868315000400')
GO
