CREATE TABLE [dbo].[WorkOrder]
(
    [WorkOrderID] int identity(1,1) not null constraint PK_WorkOrder_WorkOrderID primary key,
	[WorkOrderName] [nvarchar](255) NULL,
	[FiscalYear] [float] NULL,
	[WorkBreakdownStructureID] [int] NULL,
	[WorkBreakdownStructure] [nvarchar](255) NULL,
	[FUND] [nvarchar](255) NULL,
	[FBMSSTATUS] [nvarchar](255) NULL,
	[ETASSTATUS] [nvarchar](255) NULL,
	[DEYSTATAUS] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[WorkOrder] ([WorkOrderName], [FiscalYear], [WorkBreakdownStructureID], [WorkBreakdownStructure], [FUND], [FBMSSTATUS], [ETASSTATUS], [DEYSTATAUS], [Description]) VALUES (N'MET M2
OBANION', 2014, NULL, N'RX167868125001900', N'15XR
0680
G3', N'O', N'Open', N'O', N'METHOW MET MORPH M2 OBANION')
GO
INSERT [dbo].[WorkOrder] ([WorkOrderName], [FiscalYear], [WorkBreakdownStructureID], [WorkBreakdownStructure], [FUND], [FBMSSTATUS], [ETASSTATUS], [DEYSTATAUS], [Description]) VALUES (N'MET MVID W REIM', 2012, NULL, N'RR167868213000000', N'XXXR
0680
R1', N'O', N'Open', N'O', N'R13MR10705 EXP WA ST DOE R')
GO
INSERT [dbo].[WorkOrder] ([WorkOrderName], [FiscalYear], [WorkBreakdownStructureID], [WorkBreakdownStructure], [FUND], [FBMSSTATUS], [ETASSTATUS], [DEYSTATAUS], [Description]) VALUES (N'MET SILVER R PROJ', 2014, NULL, N'RX167868125002800', N'15XR
0680
G3', N'O', N'Open', N'O', N'METHOW GEOM SILVER RANCH')
GO
