
CREATE TABLE [dbo].[CostAuthorityAgreement](
	CostAuthorityAgreementID int identity(1,1) not null constraint PK_CostAuthorityAgreement_CostAuthorityAgreementID primary key,
	[ReclamationCostAuthorityAgreementID] [int] NULL,
	[CostAuthorityWorkBreakdownStructure] [nvarchar](255) NULL,
	[CostAuthority] [nvarchar](255) NULL,
	[AgreementNumber] [nvarchar](255) NULL,
	[PacificNorthActivityNumber] [int] NULL,
	[PacificNorthActivityName] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CostAuthorityAgreement] ([ReclamationCostAuthorityAgreementID], [CostAuthorityWorkBreakdownStructure], [CostAuthority], [AgreementNumber], [PacificNorthActivityNumber], [PacificNorthActivityName]) VALUES (6, N'RX.16786800.1000000', N'A30167868001000000', N'FLCAL', 1628, N' General Habitat  Coordination')
GO
INSERT [dbo].[CostAuthorityAgreement] ([ReclamationCostAuthorityAgreementID], [CostAuthorityWorkBreakdownStructure], [CostAuthority], [AgreementNumber], [PacificNorthActivityNumber], [PacificNorthActivityName]) VALUES (8, N'A30167868002000200', N'A30167868002000200', N'RWEIR', 1336, N'General Habitat  Flow Rock Weir Roughen Chan Study')
GO
INSERT [dbo].[CostAuthorityAgreement] ([ReclamationCostAuthorityAgreementID], [CostAuthorityWorkBreakdownStructure], [CostAuthority], [AgreementNumber], [PacificNorthActivityNumber], [PacificNorthActivityName]) VALUES (9, N'A30167868002000300', N'A30167868002000300', N'HELOG', 1507, N'General Habitat  Flow Engineering log jams')
GO
