
CREATE TABLE [dbo].[ReclamationStagingPostedObligation](
	ReclamationStagingPostedObligationID int identity(1,1) not null constraint PK_ReclamationStagingPostedObligation_ReclamationStagingPostedObligationID primary key,
	[OriginalPostedObligationsID] [int] NULL,
	[OriginalReclamationCostAuthorityAgreementID] [int] NULL,
	[OriginalAgreementStatusID] [int] NULL,
	[Fund] [nvarchar](255) NULL,
	[Program] [nvarchar](255) NULL,
	[JobNumber] [nvarchar](255) NULL,
	[BOC] [nvarchar](255) NULL,
	[FiscalYear] [int] NULL,
	[AgreementNumber] [nvarchar](255) NULL,
	[ContractorName] [nvarchar](255) NULL,
	[Mods] [float] NULL,
	[Line] [float] NULL,
	[BeginDate] [datetime] NULL,
	[LastOfMonthEnding] [datetime] NULL,
	[LastOfAmount] [money] NULL,
	[Amount] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ReclamationStagingPostedObligation] ([OriginalPostedObligationsID], [OriginalReclamationCostAuthorityAgreementID], [OriginalAgreementStatusID], [Fund], [Program], [JobNumber], [BOC], [FiscalYear], [AgreementNumber], [ContractorName], [Mods], [Line], [BeginDate], [LastOfMonthEnding], [LastOfAmount], [Amount]) VALUES (1, 101, 73, N'A30', N'16786807', N'4005800', N'252A', 2011, N'R11PD10027', N'Grant SWCD', 0, 1, CAST(N'2011-01-13T00:00:00.000' AS DateTime), CAST(N'2013-06-30T00:00:00.000' AS DateTime), 25686.7200, N'$25,686.72')
GO
INSERT [dbo].[ReclamationStagingPostedObligation] ([OriginalPostedObligationsID], [OriginalReclamationCostAuthorityAgreementID], [OriginalAgreementStatusID], [Fund], [Program], [JobNumber], [BOC], [FiscalYear], [AgreementNumber], [ContractorName], [Mods], [Line], [BeginDate], [LastOfMonthEnding], [LastOfAmount], [Amount]) VALUES (2, 102, 391, N'A30', N'16786807', N'4005900', N'252A', 2011, N'R11PD10028', N'Grant SWCD', 0, 1, CAST(N'2011-01-13T00:00:00.000' AS DateTime), CAST(N'2013-06-30T00:00:00.000' AS DateTime), 9027.4300, N'$9,027.43')
GO
INSERT [dbo].[ReclamationStagingPostedObligation] ([OriginalPostedObligationsID], [OriginalReclamationCostAuthorityAgreementID], [OriginalAgreementStatusID], [Fund], [Program], [JobNumber], [BOC], [FiscalYear], [AgreementNumber], [ContractorName], [Mods], [Line], [BeginDate], [LastOfMonthEnding], [LastOfAmount], [Amount]) VALUES (3, 103, 392, N'A30', N'16786807', N'4006000', N'252A', 2011, N'R11PD10029', N'Grant SWCD', 0, 1, CAST(N'2011-01-13T00:00:00.000' AS DateTime), CAST(N'2013-06-30T00:00:00.000' AS DateTime), 9110.1200, N'$9,110.12')
GO
