
CREATE TABLE [dbo].[CostAuthorityTable_JUST_BASIN](
	[CostAuthorityWorkBreakdownStructure] [varchar](50) NULL,
	[BasinNumber] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CostAuthorityTable_JUST_BASIN] ([CostAuthorityWorkBreakdownStructure], [BasinNumber]) VALUES (N'123167868315000000', N'')
GO
INSERT [dbo].[CostAuthorityTable_JUST_BASIN] ([CostAuthorityWorkBreakdownStructure], [BasinNumber]) VALUES (N'123167868315000300', N'')
GO
INSERT [dbo].[CostAuthorityTable_JUST_BASIN] ([CostAuthorityWorkBreakdownStructure], [BasinNumber]) VALUES (N'123167868315000400', N'')
GO

-- Fix up nulls to really be nulls
update dbo.CostAuthorityTable_JUST_BASIN
set BasinNumber = null
where BasinNumber = ''