
CREATE TABLE [dbo].[PacificNorthActivityList](
	[PacificNorthActivityListID] int identity(1,1) not NULL constraint PK_PacificNorthActivityList_PacificNorthActivityListID primary key,
	[ActivityID] int NULL,
	[PacificNorthActivityName] [nvarchar](255) NULL,
	[PacificNorthActivityType] [nvarchar](255) NULL,
	[PacificNorthActivityStatus] [nvarchar](255) NULL,
	[SortOrder] int NULL
) ON [PRIMARY]
GO

set identity_insert dbo.PacificNorthActivityList on;

INSERT [dbo].[PacificNorthActivityList] ([PacificNorthActivityListID], [ActivityID], [PacificNorthActivityName], [PacificNorthActivityType], [PacificNorthActivityStatus], [SortOrder]) VALUES (1, 1506, N'Admin   Administrative   Support', N'ESA-1a', N'Active', 1)
GO
INSERT [dbo].[PacificNorthActivityList] ([PacificNorthActivityListID], [ActivityID], [PacificNorthActivityName], [PacificNorthActivityType], [PacificNorthActivityStatus], [SortOrder]) VALUES (2, 1644, N'Admin   CSRO Training, Workshops & Equipment', N'ESA-1a', N'Active', 2)
GO
INSERT [dbo].[PacificNorthActivityList] ([PacificNorthActivityListID], [ActivityID], [PacificNorthActivityName], [PacificNorthActivityType], [PacificNorthActivityStatus], [SortOrder]) VALUES (3, 1638, N'Admin   NWF v NOAA Litigation', N'ESA-1a', N'Active', 3)
GO


set identity_insert dbo.PacificNorthActivityList off;