
CREATE TABLE [dbo].[Deliverable](
	DeliverableID int identity(1,1) not null constraint PK_Deliverable_DeliverableID primary key,
	[ReclamationDeliverableID] [int] NULL,
	[ReclamationCostAuthorityAgreementID] [int] NULL,
	[ReclamationAgreementStatusID] [int] NULL,
	[ReclamationDeliverableTypeID] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[DueDate] [datetime] NULL,
	[DateDelivered] [datetime] NULL,
	[IsTaskCompleted] [bit] NOT NULL,
	[IsTaskCanceled] [bit] NOT NULL,
	[ReclamationPersonsTableID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Deliverable] ([ReclamationDeliverableID], [ReclamationCostAuthorityAgreementID], [ReclamationAgreementStatusID], [ReclamationDeliverableTypeID], [Description], [DueDate], [DateDelivered], [IsTaskCompleted], [IsTaskCanceled], [ReclamationPersonsTableID]) VALUES (209, 478, 916, 2, N'30 % Design Drawings', CAST(N'2010-12-01T00:00:00.000' AS DateTime), NULL, 0, 0, 37)
GO
INSERT [dbo].[Deliverable] ([ReclamationDeliverableID], [ReclamationCostAuthorityAgreementID], [ReclamationAgreementStatusID], [ReclamationDeliverableTypeID], [Description], [DueDate], [DateDelivered], [IsTaskCompleted], [IsTaskCanceled], [ReclamationPersonsTableID]) VALUES (210, 453, 941, 2, N'30% design', CAST(N'2011-09-15T00:00:00.000' AS DateTime), NULL, 0, 0, 39)
GO
INSERT [dbo].[Deliverable] ([ReclamationDeliverableID], [ReclamationCostAuthorityAgreementID], [ReclamationAgreementStatusID], [ReclamationDeliverableTypeID], [Description], [DueDate], [DateDelivered], [IsTaskCompleted], [IsTaskCanceled], [ReclamationPersonsTableID]) VALUES (211, 447, 947, 8, N'AA/FWS BA Completion', CAST(N'2012-06-30T00:00:00.000' AS DateTime), NULL, 0, 0, 13)
GO
