
CREATE TABLE [dbo].[DeliverableType](
	[DeliverableTypeID] [int] identity(1,1) NOT NULL constraint PK_DeliverableType_DeliverableTypeID primary key,
	[DeliverableTypeDisplayName] [nvarchar](255) NULL,
	[DeliverableTypeName] [nvarchar](255) NULL
) ON [PRIMARY]
GO


set identity_insert dbo.DeliverableType on;

INSERT [dbo].[DeliverableType] ([DeliverableTypeID], [DeliverableTypeDisplayName], [DeliverableTypeName]) VALUES (1, N'Conceptual Drawings', N'ConceptualDrawings')
GO
INSERT [dbo].[DeliverableType] ([DeliverableTypeID], [DeliverableTypeDisplayName], [DeliverableTypeName]) VALUES (2, N'Design Drawings', N'DesignDrawings')
GO
INSERT [dbo].[DeliverableType] ([DeliverableTypeID], [DeliverableTypeDisplayName], [DeliverableTypeName]) VALUES (3, N'Report Writing', N'ReportWriting')
GO

set identity_insert dbo.DeliverableType off;