
CREATE TABLE [dbo].[CostAuthorityWorkBreakdownStructurePacificNorthActivityList]
(
	CostAuthorityWorkBreakdownStructurePacificNorthActivityListID int identity(1,1) not null constraint PK_CostAuthorityWorkBreakdownStructurePacificNorthActivityList_CostAuthorityWorkBreakdownStructurePacificNorthActivityListID primary key,
	[CostAuthorityWorkBreakdownStructure] [nvarchar](255) NULL,
	[ActivityID] [int] NULL,
	[PacificNorthActivityName] [nvarchar](255) NULL,
	[ESABiOpIDNumber] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CostAuthorityWorkBreakdownStructurePacificNorthActivityList] ([CostAuthorityWorkBreakdownStructure], [ActivityID], [PacificNorthActivityName], [ESABiOpIDNumber]) VALUES (N'RX.16786806.1301000', 1441, N'M F J D General TSC Project Development & rept', NULL)
GO
INSERT [dbo].[CostAuthorityWorkBreakdownStructurePacificNorthActivityList] ([CostAuthorityWorkBreakdownStructure], [ActivityID], [PacificNorthActivityName], [ESABiOpIDNumber]) VALUES (N'RX.16786807.1200000', 1442, N'U M J D  General Subbasin service contracts', NULL)
GO
INSERT [dbo].[CostAuthorityWorkBreakdownStructurePacificNorthActivityList] ([CostAuthorityWorkBreakdownStructure], [ActivityID], [PacificNorthActivityName], [ESABiOpIDNumber]) VALUES (N'RX.16786813.4000200', 1443, N'Wenatchee Barrier Peshastin ID Lower Diversion', 4121)
GO
