--create new Reclamation schema
IF NOT EXISTS (
SELECT  schema_name
FROM    information_schema.schemata
WHERE   schema_name = 'Reclamation' )
 
BEGIN
EXEC sp_executesql N'CREATE SCHEMA Reclamation'
END
GO

--move tables to new Reclamation schema
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationAgreement;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationAgreementPacificNorthActivity;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationAgreementReclamationCostAuthority;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationAgreementRequest;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationAgreementRequestFundingPriority;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationAgreementRequestStatus;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationAgreementRequestSubmissionNote;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationBasin;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationContractType;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationCostAuthority;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationCostAuthorityAgreementRequest;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationCostAuthorityProject;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationDeliverable;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationDeliverableType;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationDepartmentCode;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationFund;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationHCategory;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationLocation;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationPacificNorthActivityList;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationPacificNorthActivityStatus;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationPacificNorthActivityType;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationStagingAgreementStatusTable;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationStagingContractStatus;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationStagingContractTrackingTable;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationStagingCostAuthorityAgreement;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationStagingCostAuthorityWorkBreakdownStructurePacificNorthActivityList;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationStagingFutureFundingTable;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationStagingObligationsTable;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationStagingPersonsTable;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationStagingPostedObligation;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationSubbasin;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationWorkbreakdownStructure;
ALTER SCHEMA Reclamation TRANSFER dbo.ReclamationWorkOrder;




--rename tables removing the Reclamation prefix

exec sp_rename 'Reclamation.ReclamationAgreement', 'Agreement';
exec sp_rename 'Reclamation.ReclamationAgreementPacificNorthActivity', 'AgreementPacificNorthActivity';
exec sp_rename 'Reclamation.ReclamationAgreementReclamationCostAuthority', 'AgreementReclamationCostAuthority';
exec sp_rename 'Reclamation.ReclamationAgreementRequest', 'AgreementRequest';
exec sp_rename 'Reclamation.ReclamationAgreementRequestFundingPriority', 'AgreementRequestFundingPriority';
exec sp_rename 'Reclamation.AgreementRequestFundingPriority.ReclamationAgreementRequestFundingPriorityID', 'AgreementRequestFundingPriorityID'
exec sp_rename 'Reclamation.AgreementRequestFundingPriority.ReclamationAgreementRequestFundingPriorityName', 'AgreementRequestFundingPriorityName'


exec sp_rename 'Reclamation.ReclamationAgreementRequestStatus', 'AgreementRequestStatus';
exec sp_rename 'Reclamation.AgreementRequestStatus.ReclamationAgreementRequestStatusID', 'AgreementRequestStatusID'
exec sp_rename 'Reclamation.AgreementRequestStatus.ReclamationAgreementRequestStatusName', 'AgreementRequestStatusName'


--exec sp_rename 'Reclamation.ReclamationAgreementRequestSubmissionNote', 'AgreementRequestSubmissionNote';
--exec sp_rename 'Reclamation.ReclamationBasin', 'Basin'
--exec sp_rename 'Reclamation.ReclamationContractType', 'ContractType'
--exec sp_rename 'Reclamation.ReclamationCostAuthority', 'CostAuthority';
--exec sp_rename 'Reclamation.ReclamationCostAuthorityAgreementRequest', 'CostAuthorityAgreementRequest';
--exec sp_rename 'Reclamation.ReclamationCostAuthorityProject', 'CostAuthorityProject';
--exec sp_rename 'Reclamation.ReclamationDeliverable', 'Deliverable';
--exec sp_rename 'Reclamation.ReclamationDeliverableType', 'DeliverableType';
--exec sp_rename 'Reclamation.ReclamationDepartmentCode', 'DepartmentCode';
--exec sp_rename 'Reclamation.ReclamationFund', 'Fund';
--exec sp_rename 'Reclamation.ReclamationHCategory', 'HCategory';
--exec sp_rename 'Reclamation.ReclamationLocation', 'Location';
--exec sp_rename 'Reclamation.ReclamationPacificNorthActivityList', 'PacificNorthActivityList';
--exec sp_rename 'Reclamation.ReclamationPacificNorthActivityStatus', 'PacificNorthActivityStatus';
--exec sp_rename 'Reclamation.ReclamationPacificNorthActivityType', 'PacificNorthActivityType';
--exec sp_rename 'Reclamation.ReclamationStagingAgreementStatusTable', 'StagingAgreementStatusTable';
--exec sp_rename 'Reclamation.ReclamationStagingContractStatus', 'StagingContractStatus';
--exec sp_rename 'Reclamation.ReclamationStagingContractTrackingTable', 'StagingContractTrackingTable';
--exec sp_rename 'Reclamation.ReclamationStagingCostAuthorityAgreement', 'StagingCostAuthorityAgreement';
--exec sp_rename 'Reclamation.ReclamationStagingCostAuthorityWorkBreakdownStructurePacificNorthActivityList', 'StagingCostAuthorityWorkBreakdownStructurePacificNorthActivityList';
--exec sp_rename 'Reclamation.ReclamationStagingFutureFundingTable', 'StagingFutureFundingTable';
--exec sp_rename 'Reclamation.ReclamationStagingObligationsTable', 'StagingObligationsTable';
--exec sp_rename 'Reclamation.ReclamationStagingPersonsTable', 'StagingPersonsTable';
--exec sp_rename 'Reclamation.ReclamationStagingPostedObligation', 'StagingPostedObligation';
--exec sp_rename 'Reclamation.ReclamationSubbasin', 'Subbasin';
--exec sp_rename 'Reclamation.ReclamationWorkbreakdownStructure', 'WorkbreakdownStructure';
--exec sp_rename 'Reclamation.ReclamationWorkOrder', 'WorkOrder';




--exec sp_rename 'Reclamation.Agreement.ReclamationAgreementID', 'AgreementID'
--exec sp_rename 'Reclamation.AgreementPacificNorthActivity.ReclamationAgreementPacificNorthActivityID', 'AgreementPacificNorthActivityID'
--exec sp_rename 'Reclamation.AgreementReclamationCostAuthority.ReclamationAgreementReclamationCostAuthorityID', 'AgreementReclamationCostAuthorityID'
--exec sp_rename 'Reclamation.AgreementRequest.ReclamationAgreementRequestID', 'AgreementRequestID'



--exec sp_rename 'Reclamation.PK_ReclamationAgreement_ReclamationAgreementID', 'PK_Agreement_AgreementID', 'OBJECT';
--exec sp_rename 'Reclamation.AK_ReclamationAgreementPacificNorthActivity_ReclamationAgreementID_ReclamationPacificNorthActivityListID', 'AK_AgreementPacificNorthActivity_ReclamationAgreementID_ReclamationPacificNorthActivityListID', 'OBJECT';
--exec sp_rename 'Reclamation.PK_ReclamationAgreementPacificNorthActivity_ReclamationAgreementPacificNorthActivityID', 'PK_AgreementPacificNorthActivity_AgreementPacificNorthActivityID', 'OBJECT';
--exec sp_rename 'Reclamation.AK_ReclamationAgreementReclamationCostAuthority_ReclamationAgreementID_ReclamationCostAuthorityID', 'AK_AgreementReclamationCostAuthority_ReclamationAgreementID_ReclamationCostAuthorityID', 'OBJECT';
--exec sp_rename 'Reclamation.PK_ReclamationAgreementReclamationCostAuthority_ReclamationAgreementReclamationCostAuthorityID', 'PK_AgreementReclamationCostAuthority_AgreementReclamationCostAuthorityID', 'OBJECT';
--exec sp_rename 'Reclamation.PK_ReclamationAgreementRequest_ReclamationAgreementRequestID', 'PK_AgreementRequest_AgreementRequestID', 'OBJECT';
--exec sp_rename 'Reclamation.PK_ReclamationAgreementRequestFundingPriority_ReclamationAgreementRequestFundingPriorityID', 'PK_AgreementRequestFundingPriority_AgreementRequestFundingPriorityID', 'OBJECT';
--exec sp_rename 'Reclamation.PK_ReclamationAgreementRequestStatus_ReclamationAgreementRequestStatusID', 'PK_AgreementRequestStatus_AgreementRequestStatusID', 'OBJECT';






--exec sp_rename 'Reclamation.FK_ReclamationAgreement_Organization_OrganizationID', 'FK_Agreement_Organization_OrganizationID', 'OBJECT';
--exec sp_rename 'Reclamation.FK_ReclamationAgreementRequest_Organization_RecipientOrganizationID_OrganizationID', 'FK_AgreementRequest_Organization_RecipientOrganizationID_OrganizationID', 'OBJECT';
--exec sp_rename 'Reclamation.FK_ReclamationAgreementRequest_Person_CreatePersonID_PersonID', 'FK_AgreementRequest_Person_CreatePersonID_PersonID', 'OBJECT';
--exec sp_rename 'Reclamation.FK_ReclamationAgreementRequest_Person_TechnicalRepresentativePersonID_PersonID', 'FK_AgreementRequest_Person_TechnicalRepresentativePersonID_PersonID', 'OBJECT';
--exec sp_rename 'Reclamation.FK_ReclamationAgreementRequest_Person_UpdatePersonID_PersonID', 'FK_AgreementRequest_Person_UpdatePersonID_PersonID', 'OBJECT';
--exec sp_rename 'ImportFinancial.FK_ObligationNumber_ReclamationAgreement_ReclamationAgreementID', 'FK_ObligationNumber_Agreement_ReclamationAgreementID_AgreementID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreementPacificNorthActivity_ReclamationAgreement_ReclamationAgreementID', 'FK_AgreementPacificNorthActivity_Agreement_ReclamationAgreementID_AgreementID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreementReclamationCostAuthority_ReclamationAgreement_ReclamationAgreementID', 'FK_AgreementReclamationCostAuthority_Agreement_ReclamationAgreementID_AgreementID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreementRequest_ReclamationAgreement_AgreementID_ReclamationAgreementID', 'FK_AgreementRequest_Agreement_AgreementID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationStagingCostAuthorityAgreement_ReclamationAgreement_AgreementID_ReclamationAgreementID', 'FK_ReclamationStagingCostAuthorityAgreement_Agreement_AgreementID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreementRequestSubmissionNote_ReclamationAgreementRequest_ReclamationAgreementRequestID', 'FK_ReclamationAgreementRequestSubmissionNote_AgreementRequest_ReclamationAgreementRequestID_AgreementRequestID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationCostAuthorityAgreementRequest_ReclamationAgreementRequest_AgreementRequestID_ReclamationAgreementRequestID', 'FK_ReclamationCostAuthorityAgreementRequest_AgreementRequest_AgreementRequestID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreementRequest_ReclamationAgreementRequestFundingPriority_ReclamationAgreementRequestFundingPriorityID', 'FK_AgreementRequest_AgreementRequestFundingPriority_ReclamationAgreementRequestFundingPriorityID_AgreementRequestFundingPriority', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreementRequest_ReclamationAgreementRequestStatus_AgreementRequestStatusID_ReclamationAgreementRequestStatusID', 'FK_AgreementRequest_AgreementRequestStatus_AgreementRequestStatusID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreement_ReclamationContractType_ContractTypeID_ReclamationContractTypeID', 'FK_Agreement_ReclamationContractType_ContractTypeID_ReclamationContractTypeID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreementRequest_ReclamationContractType_ContractTypeID_ReclamationContractTypeID', 'FK_AgreementRequest_ReclamationContractType_ContractTypeID_ReclamationContractTypeID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreementReclamationCostAuthority_ReclamationCostAuthority_ReclamationCostAuthorityID', 'FK_AgreementReclamationCostAuthority_ReclamationCostAuthority_ReclamationCostAuthorityID', 'OBJECT'
--exec sp_rename 'Reclamation.FK_ReclamationAgreementPacificNorthActivity_ReclamationPacificNorthActivityList_ReclamationPacificNorthActivityListID', 'FK_AgreementPacificNorthActivity_ReclamationPacificNorthActivityList_ReclamationPacificNorthActivityListID', 'OBJECT'


--alter table Reclamation.Agreement add constraint FK_Agreement_Organization_OrganizationID_TenantID foreign key (OrganizationID, TenantID) references dbo.Organization(OrganizationID, TenantID)
--alter table Reclamation.AgreementRequest add constraint FK_AgreementRequest_Organization_RecipientOrganizationID_TenantID foreign key (RecipientOrganizationID, TenantID) references dbo.Organization(OrganizationID, TenantID)
--alter table Reclamation.AgreementRequest add constraint FK_AgreementRequest_Person_CreatePersonID_TenantID foreign key (CreatePersonID, TenantID) references dbo.Person(PersonID, TenantID)
--alter table Reclamation.AgreementRequest add constraint FK_AgreementRequest_Person_TechnicalRepresentativePersonID_TenantID foreign key (TechnicalRepresentativePersonID, TenantID) references dbo.Person(PersonID, TenantID)
--alter table Reclamation.AgreementRequest add constraint FK_AgreementRequest_Person_UpdatePersonID_TenantID foreign key (UpdatePersonID, TenantID) references dbo.Person(PersonID, TenantID)
--alter table Reclamation.ReclamationAgreementRequestSubmissionNote add constraint FK_ReclamationAgreementRequestSubmissionNote_Person_CreatePersonID_TenantID foreign key (CreatePersonID, TenantID) references dbo.Person(PersonID, TenantID)
--alter table Reclamation.ReclamationAgreementRequestSubmissionNote add constraint FK_ReclamationAgreementRequestSubmissionNote_Person_UpdatePersonID_TenantID foreign key (UpdatePersonID, TenantID) references dbo.Person(PersonID, TenantID)
--alter table Reclamation.ReclamationCostAuthorityProject add constraint FK_ReclamationCostAuthorityProject_Project_ProjectID_TenantID foreign key (ProjectID, TenantID) references dbo.Project(ProjectID, TenantID)
--alter table Reclamation.ReclamationDeliverable add constraint FK_ReclamationDeliverable_Person_PersonID_TenantID foreign key (PersonID, TenantID) references dbo.Person(PersonID, TenantID)
--alter table dbo.ReleaseNote add constraint FK_ReleaseNote_Person_CreatePersonID_TenantID foreign key (CreatePersonID, TenantID) references dbo.Person(PersonID, TenantID)
--alter table dbo.ReleaseNote add constraint FK_ReleaseNote_Person_UpdatePersonID_TenantID foreign key (UpdatePersonID, TenantID) references dbo.Person(PersonID, TenantID)