USE [AlevinDB]
GO
/****** Object:  Table [ReclamationOneTimeImport].[BudgetObjectCodeGroupsOnlySheet_4-7-2020]    Script Date: 4/7/2020 3:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ReclamationOneTimeImport].[BudgetObjectCodeGroupsOnlySheet_4-7-2020]
(
	[BOC_Category] [nvarchar](50) NOT NULL,
	[Group] [float] NOT NULL,
	[GroupZeroPadded] [int] NOT NULL,
	[Definitions] [nvarchar](250) NULL
) ON [PRIMARY]
GO
INSERT [ReclamationOneTimeImport].[BudgetObjectCodeGroupsOnlySheet_4-7-2020] ([BOC_Category], [Group], [GroupZeroPadded], [Definitions]) VALUES (N'Personnel Compensation and Benefits', 10, 100000, NULL)
GO
INSERT [ReclamationOneTimeImport].[BudgetObjectCodeGroupsOnlySheet_4-7-2020] ([BOC_Category], [Group], [GroupZeroPadded], [Definitions]) VALUES (N'Personnel Compensation', 11, 110000, NULL)
GO
INSERT [ReclamationOneTimeImport].[BudgetObjectCodeGroupsOnlySheet_4-7-2020] ([BOC_Category], [Group], [GroupZeroPadded], [Definitions]) VALUES (N'Full-Time Permanent', 11.1, 111000, NULL)
GO
