@*-----------------------------------------------------------------------
    <copyright file="ExpectedFundingByCostType.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of@ViewDataTyped.ProjectFieldDefinition
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Views.ProjectUpdate
@using LtInfo.Common.ModalDialog
@using Newtonsoft.Json.Linq
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.ProjectFundingSourceBudget
@using ProjectFirma.Web.Views.Shared.ExpenditureAndBudgetControls
@using ProjectFirmaModels.Models
@inherits ExpectedFundingByCostType
@section JavascriptAndStylesContent
{
    <script src="@Url.Content("~/Views/ProjectFundingSourceBudget/ProjectFundingSourceBudgetByCostTypeController.js")" type="text/javascript"></script>
    <script type="text/javascript">
        // <![CDATA[
        jQuery(document).ready(function () { HookupCheckIfFormIsDirty(undefined, ".submitProject"); });
                // ]]>
    </script>
}

@if (!ViewDataTyped.IsEditable)
{
    ProjectBudgetSummary.RenderPartialView(Html, ViewDataTyped.ProjectBudgetSummaryViewData);

    ProjectBudgetsAnnualByCostType.RenderPartialView(Html, ViewDataTyped.ProjectBudgetsAnnualByCostTypeViewData);

}
else if (!ViewDataTyped.AreProjectBasicsValid)
{
    <div class="alert alert-danger">
        @FirmaValidationMessages.UpdateSectionIsDependentUponBasicsSection
    </div>
}
else
{
    <div>
        @{ EditProjectFundingSourceBudgetByCostType.RenderPartialView(Html, ViewDataTyped.ViewDataForPartial, ViewDataTyped.ViewModelForPartial); }
    </div>
}
