@*-----------------------------------------------------------------------
    <copyright file="BudgetObjectCodeIndex.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@*@using LtInfo.Common.DhtmlWrappers*@

@*Standalone:*@

<link rel="stylesheet" href="../../Content/dhtmlx/dhtmlxTreeGrid/codebase/treegrid.css" />
<script type="text/javascript" src="../../Content/dhtmlx/dhtmlxTreeGrid/codebase/treegrid.js"></script>
<!-- Following example from working samples; web site doc examples are missing these: -->
<link rel="stylesheet" href="../../Content/dhtmlx/dhtmlxTreeGrid/samples/common/index.css?v=6.4.2">
<link rel="stylesheet" href="../../Content/dhtmlx/dhtmlxTreeGrid/samples/common/treegrid.css?v=6.4.2">		


@inherits ProjectFirma.Web.Views.BudgetObjectCode.BudgetObjectCodeIndexV2

@section JavascriptAndStylesContent
{
    @*@{ DhtmlxGridIncludes.RenderPartialView(Html); }*@
}

@*<div class="row">*@

    <div class="col-xs-12">
        @*@Html.DhtmlxGrid(ViewDataTyped.BudgetObjectCodeGridSpec, ViewDataTyped.BudgetObjectCodeGridName, ViewDataTyped.BudgetObjectCodeGridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)*@
    </div>

    <div>This is the DHTMLXTreeGrid</div>
    <!-- Section stuff seems required, at least when we follow the examples in the Samples folder -->
    <section class="dhx_sample-container dhx_sample-container--treegrid">
        <div class="dhx_sample-container__widget" id="treegrid_container"></div>
    </section>	
@*</div>*@

<script type="text/javascript">

    var treeGrid = new dhx.TreeGrid("treegrid_container", {
        columns: [
            { width: 260, id: "name", header: [{ text: "Name" }] },
            { width: 260, id: "native", type: "string", header: [{ text: "Native name" }] },
            { width: 200, id: "capital", type: "string", header: [{ text: "Capital" }] },
            { width: 200, id: "currency", type: "string", header: [{ text: "Currency" }] }
        ]
    });
    //<a href="http://localhost:57753/Content/dhtmlx/dhtmlxTreeGrid/samples/common/dataset.json">
    //    http://localhost:57753/Content/dhtmlx/dhtmlxTreeGrid/samples/common/dataset.json</a>
    //If this works, the filename is just a total hack
    //treeGrid.data.load("../Content/dhtmlx/dhtmlxTreeGrid/samples/common/dataset.json.txt.css");

    //treeGrid.data.load("@ViewDataTyped.BudgetObjectCodeGridDataUrl");

    treeGrid.data.load("/BudgetObjectCode/BudgetObjectCodeGridJsonDataV2_JSON_SAMPLE");

    alert('Hello!');
</script>