@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@inherits ProjectFirma.Web.Views.ExcelUpload.ManageFbmsUpload
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<p>
    <span style="margin-right:10px">Upload an excel file of the FBMS to update the data in the application</span>
    @ModalDialogFormHelper.ModalDialogFormLink(null,
        "Upload FBMS Spreadsheet File",
        ViewDataTyped.UploadFbmsSpreadSheetUrl,
        "Upload FBMS Spreadsheet File",
        1000,
        ModalDialogFormHelper.SaveButtonID,
        "Approve Upload",
        "Cancel",
        new List<string>(){"btn", "btn-sm", "btn-firma"},
        null,
        null,
        ViewDataTyped.UploadFormID,
        null,
        ModalDialogFormHelper.DisabledState.NotDisabled)
</p>

<div>
    <form action="@ViewDataTyped.DoPublishingProcessingPostUrl" method="post">
        @Html.HiddenFor(x => x.FakeDataToMakeFormPost)
        <button type="submit" class="btn btn-xs btn-firma" title="Save changes made on this page" value="false">Do Publishing Processing</button>
    </form>
</div>